__pycache__/
.ipynb_checkpoints/
*.pyc
.env
env/
.venv/
venv/
data/raw/
data/interim/
data/features/
data/labels/
data/splits/
data/models/
*.tif
*.tiff
*.jp2
*.npy
*.zarr
*.parquet
config/secrets.yml
